<!DOCTYPE html>
<div class="main-wrapper">
  <!-- BANNER -->
  <div class="bannercontainer">
    <div class="fullscreenbanner-container">
      <div class="fullscreenbanner">
        <ul>
          <li>
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <!-- Popular category  SECTION -->
      <%= render 'potepan/share/famous_categories' %>
      <!-- New Products SECTION -->
      <%= render 'potepan/share/new_products',products: @products %>
    </div>
  </section>
  <!-- Logo SECTION -->
  <%= render 'potepan/share/logo' %>
</div>