<%= form_with(model: order, url: potepan_cart_path(order.id), method: :patch, local: true) do |f| %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>価格</th>
          <th>数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'line_items', collection: order.line_items, as: :line_item, locals: {f: f} %>
      </tbody>
    </table>
  </div>
  <div class="updateArea">
    <%= f.submit 'アップデート', :class=>"btn" %>
  </div>
<% end %>