<tr>
  <td class="col-xs-2">
    <%= link_to(potepan_cart_path(line_item.id), method: :delete, class: "close") do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
    <span class="cartImage"><%= image_tag(line_item.variant.display_image.attachment(:product)) %></span>
  </td>
  <td class="col-xs-4"><%= line_item.name %></td>
  <td class="col-xs-2"><%= line_item.price %></td>
  <%= f.fields_for :line_items, line_item do |item_form| %>
    <td class="col-xs-2"><%= item_form.number_field :quantity, min:0 %></td>
  <% end %>
  <td class="col-xs-2"><%= line_item.amount %></td>
</tr>