<!DOCTYPE html>
<!-- LIGHT SECTION -->
<%= render 'cart_header' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <% if @order.line_items.empty? %>
            <p>カートは空です。</p>
          <% else %>
            <%= render 'form', order: @order %>
            <div class="totalAmountArea">
              <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                <ul class="list-unstyled">
                  <li>小計 <span><%= @order.display_item_total %></span></li>
                  <li>消費税 <span><%= @order.display_tax_total %></span></li>
                  <li>総計 <span class="grandTotal"><%= @order.display_total %></span></li>
                </ul>
              </div>
            </div>
            <div class="checkBtnArea">
              <a href="checkout_step_1.html" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
