<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <% colors.each do |color| %>
      <ul class="list-unstyled">
  	    <li>
  	      <%= link_to url_with_params(potepan_category_path(taxon.id), {color: color.name}) do %>
    		    <%= color.presentation %><span>(<%= count_option_value_products(color.name) %>)</span>
  	      <% end %>
  	    </li>
      </ul>
    <% end %>
  </div>
</div>
