<div class="row filterArea">
  <div class="col-xs-6">
    <%= form_tag request.url, method: :get do %>
      <%= select_tag "sort", options_for_select([
        ["新着順","NEW_PRODUCTS"],
        ["古い順","OLD_PRODUCTS"],
        ["高い順","HIGH_PRICE"],
        ["安い順","LOW_PRICE"]],
        selected: params[:sort]), {id: "guiest_id1", class: "select-drop", onChange: "this.form.submit()"} %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
      <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
    </div>
  </div>
</div>