<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
  	<% sizes.each do |size| %>
	  <ul class="list-unstyled clearfix"> 
	    <li>
	      <%= link_to url_with_params(potepan_category_path(taxon.id), {size: size.name}) do %>
		    <%= size.presentation %><span>(<%= count_option_value_products(size.name) %>)</span>
		  <% end %>
	    </li>
	  </ul>
    <% end %>
  </div>
</div>