<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'category_header', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <!-- categories_list -->
          <%= render 'taxonomies', taxonomies: @taxonomies %>
          <%= render 'color', colors: @color_categories, taxon: @taxon %>
          <%= render 'size', sizes: @size_categories, taxon: @taxon %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area', taxon: @taxon %>
          <div class="row">
            <!-- Display product information -->
            <%= render partial: "product", collection: @products %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'potepan/share/logo' %>
</div>