<%= form_for :order, url: potepan_carts_path, method: :post, local: true do |f| %>
  <div class="media-body">
    <ul class="list-inline">
      <li>
        <%= link_to potepan_category_path(product.taxons.first.id) do %>
          <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
        <% end %>
      </li>
    </ul>
    <h2><%= product.name %></h2>
    <h3><%= product.display_price %></h3>
    <p><%= product.description %></p>
    <!-- Cart Section -->
    <% if variants.any? %>
      <span class="quick-drop">
        <%= f.select :variant_id,
          variants.map{|variant|
            ["Size:#{variant.option_values.first.presentation},Color:#{variant.option_values.second.presentation}",variant.id]},{}, {id: "variant_id", name:"variant_id", class: "select-drop"} %>
      </span>
      <% else %>
        <%= hidden_field_tag "variant_id", product.master.id %>
    <% end %>
    <span class="quick-drop resizeWidth">
      <%= f.select :quantity,[
        ["1",1],
        ["2",2],
        ["3",3],
        ["4",4],
        ["5",5]],
      {},{name: "guiest_id4", id: "guiest_id4", class: "select-drop"} %>
      </select>
    </span>
    <div class="btn-area">
      <%= f.submit "カートへ入れる", :class=>"btn btn-primary btn-block" %><i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
<% end %>