<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% products.each do |product| %>
        <%= link_to potepan_product_path(product.id) do %>
          <div class="slide">
            <div class="productImage clearfix">
              <%= image_tag(product.display_image.attachment(:product)) %>
            </div>
            <div class="productCaption clearfix">
              <h5><%= product.name %></h5>
              <h3><%= product.display_price %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>