<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PLUGINS CSS STYLE -->
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <!-- CUSTOM CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <%= render 'layouts/shim' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- HEADER -->
    <div class="header clearfix">
      <!-- TOPBAR -->
      <%= render 'layouts/topbar' %>
      <!-- NAVBAR -->
      <%= render 'layouts/navbar' %>
    </div>
    <%= yield %>
    <%= javascript_include_tag('application') %>
  </body>
  <footer>
    <!-- FOOTER -->
    <%= render 'layouts/footer' %>
    <!-- LOGIN MODAL -->
    <%= render 'layouts/login' %>
    <!-- SIGN UP MODAL -->
    <%= render 'layouts/signup' %>
  </footer>
</html>